/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic */
body {
  background-color: lightblue;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-style: bold;
  padding: 1rem;
}

main {
  flex-grow: 1;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

/* Utility */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-btn {
  background: transparent;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  cursor: pointer;
}

.sub-info {
  text-align: center;
  padding: 1rem;
}

/* Top bar */
.top-bar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.3rem;
  padding-right: 30px;
}

.search-icon {
  position: absolute;
  right: 10px;
}

.top-bar .btns {
  padding: 0.3rem;
}

/* List */
.list {
  width: 100%;
  padding: 0.5rem;
}

.item {
  padding: 0.3rem;
  width: 100%;
}

.pfp {
  width: 50px;
  height: 50px;
  border: 2px black solid;
  border-radius: 10rem;
}

.name {
  font-size: 1.3rem;
  padding: 1rem;
}

.item-hover {
  background: #aaa;
  border-radius: 0.5rem;
  font-weight: bold;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  height: 80vh;
  overflow-y: auto;
}

.close-btn {
  align-self: flex-end;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-item input,
.form-item textarea {
  padding: 0.25rem;
  font-size: 1.5rem;
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
  height: 10rem;
}

.input-btn {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: lightblue;
  border-radius: 0.5rem;
}

.info-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-item {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-label {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
}

.info-info {
  font-size: 1.25rem;
}

/* Mobile */
@media (max-width: 1024px) {
  /* Header */
  header {
    font-size: 3.5rem;
  }

  /* Util */
  .icon-btn {
    font-size: 2rem;
    width: 100px;
    margin: 0.5rem 0;
  }

  /* Top Bar */
  .top-bar {
    flex-direction: column;
  }

  /* List */
  .item {
    flex-direction: column;
    border: 2px black solid;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
  }

  .left-side {
    flex-direction: column;
  }

  .pfp {
    width: 200px;
    height: 200px;
  }

  .name {
    font-size: 2rem;
  }

  /* Modal */
  .modal-content {
    min-width: auto;
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
  }

  .close-btn {
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
  }
}

@media (max-height: 720px) and (min-width: 1024px) {
  .form-item {
    gap: 0.25rem;
  }

  .form-item input {
    font-size: 1rem;
  }

  .info-item {
    padding: 1rem;
  }

  .info-label {
    font-size: 1rem;
  }

  .input-btn {
    font-size: 1rem;
  }
}
