/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  min-height: 100dvh;
}

header {
  height: 10dvh;
}

main {
  height: 80dvh;
}

footer {
  height: 10dvh;
}

/* Utility */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.icon-btn {
  background: transparent;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Top bar */
.top-bar {
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.3rem;
  padding-right: 30px;
}

.search-icon {
  position: absolute;
  right: 10px;
}

/* List */
.list {
  width: 100%;
  padding: 0.5rem;
}

.item {
  width: 100%;
  padding: 0.5rem;
}

.pfp {
  width: 50px;
  height: 50px;
  border: 2px black solid;
  border-radius: 10rem;
}
